<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Nyande Paul Natale- Home</title>
		<meta name="description" content="Nyande Paul Natale - Curiculum Vitae,Bio Information" />
		<meta name="keywords" content="Nyande, Paul, Natale,MSC IT, PHP Developers" />
		<meta name="author" content="Nyande Paul Natale"/>
		<!--Favicon-->
		<link rel="shortcut icon" href="Images/favicon.ico">
		<link rel="icon" href="Images/favicon.ico" type="image/x-icon">
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body id="body" data-ng-app="contactApp">
	
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->	
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
				
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
						  <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
							 data-target="#navbar_collapse">
							 <span class="mask"></span>
							 <span class="btn-label">
								<span class="pe-7s-menu"></span>
							 </span>
						  </button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>education</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>experience</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#work_sec"></a><span>work</span></li>
								<li><a data-scroll href="#achivement_sec"></a><span>achivements</span></li>
								<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
					<span>Nyande Paul Natale    TEL: +919737671138 </span>
								</a>	
							</div>	
							
							<div class="float-right social-download-wrap">
								<a href="nyandecv.pdf" download class="btn btn-default float-left">
									<span class="mask"></span>
									<span class="btn-label">
										<b>My CV</b>
										<span class="icon pe-7s-download"></span>
									</span>
								</a>
							</div>	
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<img src="Images/nyande.jpg" style="height: 600px; width: 400px;">
							<h6>
								about
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Enthusiastic about the IT sector and the emerging trends of technology that keeps coming up in the market. My passion about technology keeps developing as time progressing because for one to sruvive and be relevant in this domain you have be adaptive and willing to change basing on the new technology that is mostly used because the desires of the clients are what they see out in the internet and so you have to take the challenge.
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Curently pursing my Master of Science in Information Technology at <a class="goto-social" href="https://www.msubaroda.ac.in/home" target="_blank">The Maharaja Sayajirao University of Baroda</a> With a hope that one day i will make a change in the community and be able to add value to the society with the knowledge nd expertise that i have obtained in the field. 
							</p>
						</section>
						<!--/Introduction Sec-->

						<hr class="separater-hr"/>

						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>education</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								A glimpse into my education qualifications.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">August 2021-To date</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">The Maharaja Sayajirao University of Baroda- India</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Master of Science in Information Technology
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">August 2017- December 2020</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Mbaraara University of Science and Technology-Uganda</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Bachelor of Science in Information Technology
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">January 2015- November 2016</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Merryland High School-Uganda</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Advanced Level High School Certificate
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">January 2011- November 2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Lakeside College Luzira-Uganda</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Ordinary Level School Certificate
										</span>
									</div>
								</div>
								
							</div>
						</section>	
						<!--/Qualfication Sec-->

						<hr class="separater-hr"/>
						
						
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>experience</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>March 2021- To Date</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Team Leader</span>
													<span class="job-loc">Xexo Tech
	</span>
													<p class="job-summary p-small">Xexo Tech is a startup comprising of students from my Bachelors cohort where we do free lance Software development projects. The team has individuals from different expertise and each contribute alot in seeing this continue to grow and develop and we hope one day its something big </p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>May 2019 — July 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Internee</span>
													<span class="job-loc">Glocal Interactives</span>
													<p class="job-summary p-small">Glocal interactives offered me a placement to do my undergraduate required intership for a period of two months. This company mainly forcuses on robotic design from wooden materials and i forcused on programming part in executing my assigmnent in arduio uno IDE basing on the tasks assigned to me. It was a great 2 months of great exposure.</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>December 2020 –To date</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Website Manager 
	</span>
													<span class="job-loc">Community Empowerment Foundation
	</span>
													<p class="job-summary p-small">In December 2020 CEF a non- government organisation assigned me a resposibility of desiging a static web page for their organisation and being satisfied with the work done they assignmed me the responsibility of managing the website and employee email address remotely.</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
							</div>
						</section>	
						<!--/Experience Sec-->

						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>technical skills</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Companies always ask for 3 or 4 year experience in most of the job opportunies they advertise and so the first years out of school is always trying to build you skills and findout the best skills that you have and being a free lance developer, I fled from a traditional path and explored my creativityand trying my hands on various techniques and software. Software is more than just a tool, and I try to dig deep into it.</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Android Dev't</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="60">
													<strong><i>60</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">HTML</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="70">
													<strong><i>70</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">PHP</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="40">
													<strong><i>40</i>%</strong>
												</span>	
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Java</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="60">
													<strong><i>60</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								
							</div>	
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>

						<!--Work Sec-->
						
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>projects done</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Student Management System</span>

												</div>

												<div class="col-sm-9">
												<span class="job-desn">Web Technology Project</span>
												<span class="job-loc">PHP/HTML/JS/CSS/Bootstrap/XAMP</span>
													<p class="job-summary p-small">This is a student Management system built for the department of computer Applications, Faculty of Science-MSU University as a project for the Web Tecnhology Course unit. 
													It encampuses various features of admin, teacher and student user interfaces which each having various roles/modules that they can perform in the system. </p>

<a href="https://github.com/Nyande/Student-Management-System"><span style="color: red;">Github Link</span></a>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Book Management System</span></div>
												<div class="col-sm-9">
												<span class="job-desn">Web Technology Project</span>
												<span class="job-loc">PHP/HTML/JS/CSS/Bootstrap/XAMP</span>
													<p class="job-summary p-small">This project was based from an initial website that manages book publications and as a team of three(Darshan Bhatt, Hannah Rajput and myself) we were tasked to replicate the same system from scratch. 
													We were to come up with the same modules but having different User interfaces and we were in position to accomplish it</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>CRUD Operation</span>
					
												</div>
												<div class="col-sm-9">
												<span class="job-desn">Web Technology Project</span>
												<span class="job-loc">PHP/HTML/JS/CSS/Bootstrap/XAMP</span>
													<p class="job-summary p-small">Inorder to accomplish and be skilled in Server side programming with PHP one ought to know how to perform the various CRUD operations ie Creating,Reading ,updating, Deleting from the database.
													This project focuses on showing how each of these operations are performed.</p>
														<a href="https://github.com/Nyande/CRUD"><span style="color: red;">Github link</span></a>

												</div>
											</div>	
										</div>
									</div>	
								</div>
							</div>
						</section>	
						<!--/Work Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Achivement Sec-->
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>certifications</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">A glipmse on the certifications participated in and accomplished</p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
											<span class="dash-pointer">-</span>
											<span class="achive-pts">Google Digital Garage-Fundamentals of Digital Marketing</span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Google Analytics Academy-Advanced Google Analytics</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Refactory Uganda- Web Flow and Design thinking</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Grow With Google-Applied Digital Skills</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Complete Guide to Android application Development in Kotlin</span></li>
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Udemy-Master the Basics of HTML5 and CSS3</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">Udemy-JavaScript Crash Course for Beginners</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Udemy-Free Bootstraps for Beginners and Professionals</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Udemy-PHP programming for Beginners</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Udemy-Build CRUD Application</span></li>
										</ul>
									</li>
								</ul>
							</div>	
						</section>
						<!--/Achivement Sec-->

						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>contact</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Hello <span  data-ng-bind="formData.inputName||'friend'"></span>, Drop me a message</h3>
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							
							
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">You could be my Next Client.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://www.facebook.com/nyande.paul/" class="social-icon">
													<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/NyandeNatale" class="social-icon">
													<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="https://www.linkedin.com/in/nyande-paul-natale-87615617b" class="social-icon">
													<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/nyandepaul/" class="social-icon">
													<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
											<span data-hover="top">
												top
											</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
								<p class="copywrite">Powered by<b> Nyande Paul Natale &copy; 2022.</b></p>
									</div>
								</div>	
							</div>	
						</footer>
						<!--/Footer-->
						
					</div>	
					<!--/Main Content-->
					
				</div>
			</div>	
		</div>
		<!-- /Container -->
				
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
